@charset "UTF-8";

img#icon-principal{
	inline-size: 250px;
    block-size: 250px;
}

body{
	font-family: 'Anek Malayalam', sans-serif;
}

h1{
	color: #e6bb73;
}

.BotoesAcesso{
	text-decoration: none;
	color: white;
	background-color: #8acbff;
	padding: 5px 10px 5px 10px;
	font-size: 1.3em;
	font-weight: 700;
	border-radius: 9px;
	border-style: solid;
	border-color: black;
	margin-left: 3.3%;
	cursor: pointer;
}

.caixaEntrada{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #000000;
	border-radius: 10px;
}

#caixaTelefone{
	width: 190px;
}